@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.slide-header h1 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
}
.slide-header__tittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Add gap between elements */
    flex-wrap: wrap; /* Allow wrapping */
}

.filter-search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-button {
    padding: 8px 16px;
    border: none;
    background-color: #f1f1f1;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-button:hover {
    background-color: #e1e1e1;
}

.search-input {
    padding: 8px;
    width: 800px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.header-button {
    padding: 8px 16px;
    border: none;
    background-color: #4070F4;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header-button.create-person {
    background-color: #675FFF;
}

.header-button:hover {
    background-color: #265DF2;
}

.header-button.create-person:hover {
    background-color: #574EEA;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}


.sort-by {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sort-by label {
    font-size: 14px;
    color: #333;
}

.sort-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}
.slide-number{
    margin-top: 50px;
    margin-bottom: 10px;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.email{
    font-size: 14px;
    color: #707070;
    
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}
.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-container button {
    border: none;
    background-color: transparent;
    color: #666;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-container button.active {
    background-color: #4070F4;
    color: #fff;
}

.pagination-container button:hover {
    background-color: #e1e1e1;
}

.pagination-container button.disabled {
    pointer-events: none;
    color: #ccc;
}

@media screen and (max-width: 768px) {
    .slide-content {
      margin: 0 10px;
    }
    .swiper-navBtn {
      display: none;
    }
    .slide-header__title {
      flex-direction: column;
      align-items: flex-start;
    }
    .header-controls {
      flex-direction: column;
      align-items: flex-start;
    }
    .search-input {
      width: 100%;
    }
    .filter-search {
      width: 100%;
      justify-content: space-between;
    }
  }